@font-face {
  font-family: 'FocoBold'; /*a name to be used later*/
  src: '/FocoBold.ttf'; /*URL to font*/
}

@font-face {
  font-family: 'TradeGothicNextLTPro-Rg'; /*a name to be used later*/
  src: '/TradeGothicNextLTPro-Rg.ttf'; /*URL to font*/
}

body {
  height: 3840px;
  width: 100%;
  overflow: hidden;
  color: #233e96ff;
  font-family: 'FocoBold'
}

#root {
  padding-top: 10%;
  object-fit:contain;
}
.game {
  /* max-width: 5200px; */
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  background-color: none;
  flex-grow: initial;
  object-fit: contain;
}

.game h1 {
  font-size: 3em;
  color: #233e96ff;
  font-family: 'FocoBold'
}

.game h2 {
  font-size: 2em;
  color: #233e96ff;
  font-family: 'TradeGothicNextLTPro-Rg';
}

.game h3 {
  font-size: 2em;
  margin: 0;
}

.game-instructions {
  font-style: italic;
  font-size: 2em;
  margin: 0 auto;
  /* overflow-wrap:unset;
  white-space: pre-wrap; */
  /* CSS3 */
  white-space: -moz-pre-wrap;
  /* Firefox */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* IE */
}

.game-header {
  height: 100%;
}

.game-title {
  font-size: 2em; 
  padding: 10%;
}

.game-status {
  padding: 20px;
  white-space: pre;
  font-size: 2em;
  width: 100%
}

.game-button {
  font-size: 2em;
  border-radius: 1vh;
  padding: 2%;
  color: white;
  background-color: #233e96ff;
  font-family: 'TradeGothicNextLTPro-Rg';
}

.tile-container {
  display: grid;
  grid-gap: 0.3em;
  zoom: 0.4;
  background-color: lightgray;
}

.tile {
  overflow: visible;
  /* width: 100%; */
  padding-top: 100%;
}

.tile.pos{
  background-color: black;
}

.tile-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  
}

.full-image {
  overflow:visible;
  margin: auto;
  object-fit: contain;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

.full-image .img {
  width: 500px;
}

.highscoretable {
  margin: 0;
  width: 100%;
  border-collapse: collapse;
}

.user-row-in-highscore {
  border: 5px solid lightgreen;
}

@media only screen and (max-width: 400px) {
  .date-column {
    display: none;
  }
}

footer {
  position: absolute;
  bottom: 0;
  font-size:4em;
  object-fit:cover ;
}


.splash {
  display: block;
  justify-content: center;
  align-self: center;
  object-fit: contain;
}

.center {
  align-self: center;
  top: 30%;
  margin: 0;
  position: absolute;
}